
.nav__menu {
  display: block;
  height: 320px;
  // overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 470px;
    left: 0px;
    top: 0px;
  }
}









.menu {
  width: 100%;
  background-color: #fff;
  // padding: 2rem 0 5rem 0;

  .menu__content {
    width: 100%;
    position: relative;
    // top: -3rem;
    background-color: $colour-grey;
    border-radius: 40px 40px 0 0;
    margin: 0 auto;

  }
  h1 i {
    position: absolute;
    right: 5rem;
  }
  .menu__cards__title {
    position: relative;
    margin: 0 0 2rem 0;
    padding: 1rem 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 19px;
    text-align: left;
    text-transform: uppercase;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: $colour-tertiaire;
    }
  }


  .menu__content {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .menu__title {
      font-family: "Shrikhand", sans-serif !important;
      font-weight: 400;
      margin: 1rem 0 0 0;
      text-align: left;
    }
    .menu__cards__title {
      margin: 2rem 0 1rem 0;
    }
    .menu__item {
      position: relative;
      display: flex;
      justify-content: left;
      flex-direction: column;
      padding: 1.8rem 1.8rem;
      margin: 1.5rem 0;
      background-color: $colour-white;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      
      // i {
      //   position: absolute;
      //   left: 6rem;
      //   width: 40px;
      //   margin-top: .1rem;
      // }
      span {
        position: absolute;
        right: 2rem;
        bottom: 2.3rem;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  
  .reserve {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    .reserve__btn {
    color: $colour-white;
    border: none;
    cursor: pointer;
    padding: .8rem 2rem;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: $main-gradient;
    }
  }
}








/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  .nav__menu {
    img {
      height: 450px;
    }
  }
  .menu__content {
    max-width: 900px;
    padding: 3rem 10rem;
    h1 {
      text-align: center;
      i {
      position: relative;
      left: 2rem;
      }
    } 
  }
}