@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap');

@import './_variables';
@import './_header';
@import './_footer';
@import './_spinner';
@import './_badge-novelty';
@import './_like';
@import './_button';



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  background: $colour-grey;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000;
}


:where(h1, h2, h3) {
  font-weight: 700;
}
h1 {
  font-size: 24px;
  line-height: 28px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-size: 20px;
}
h4 {
  color: $colour-white;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: .1rem;
  line-height: 26px;
}
p {
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
a {
  text-decoration: none;
  color: $colour-white;
}
ul {
  list-style: none;
}

input {
  color: $colour-black-med;
  background-color: #eaeaea;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
span {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}


i {
  color: $colour-black-med;
  font-size: 1.5rem;
}
.fa-white {color: #fff;}
.fa-main {color: $colour-primary;}
.fa-none {
  -webkit-text-stroke: 1.5px $colour-black-med;
  -webkit-text-fill-color: transparent;
}
.fa-grad-checked {
  background-image: $main-gradient-icon;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}







.wrapper__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}





/****** @keyframes ***********/
@keyframes fadeOut {
  0% { opacity: 1;}
  100% { 
    opacity: 0; 
    visibility: hidden;
    display: none;
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}






/****** Media queries ***********/
/* Medium devices (1024px) */
// @media (min-width: 1024px) {
//   .wrapper__content {
//   }
// }