.menu__card__item {
  position: relative;
  @include flex-row();
  padding: 0 0 0 1rem;
  margin: 1rem 0;
  background-color: $colour-white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  min-height: 80px;
  overflow: hidden;
  cursor: pointer;
  touch-action: auto;

  .menu__card__text {
    flex: 1;
    min-width: 50%;
    & h3, p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    & p {
      font-size: 15px;
    }
  }
  .menu__card__price {
    flex: 0;
    margin-top: 1.5rem;
    padding: 0 .3rem
  }
  .menu__card__checked {
    @include flex-row();
    justify-content: center;
    background-color: $colour-tertiaire;
    height: 80px;
    margin-left: 1rem;
    transition: $fast;
    width: 0px;
    transform: translateX(100px);

    i { color: $colour-white }
  }
}


.menu__card__item:is(:hover, :active) .menu__card__checked {
  width: 70px;
  transform: translateX(0px);
}