
// Variables
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-grey: #F7F7F7;
$colour-black-med: #353535;
$colour-black: #101010;
$colour-white: #fff;
$main-gradient: linear-gradient(0, #9356DC -11.44%, #FF79DA 123.93%);
$main-gradient-icon: linear-gradient(0, #FF79DA -11.44%, #9356DC 123.93%);

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;

$fast: 0.3s;

// Functions
@function lightness-shift($colour) {
  @if (lightness($colour) < 25%) {
    @return lighten($colour, 10%);
  } @else {
    @return darken($colour, 10%);
  }
}

// Mixins
@mixin border($colour: $colour-primary) {
  border: 0.1rem solid $colour;
}

@mixin heading-shadow(
  $colour: lightness-shift($colour-primary),
  $offset: $heading-shadow-size
) {
  text-shadow: $offset $offset $colour;
}
