// Variables //

// Colors
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-grey: #F7F7F7;
$colour-black-med: #353535;
$colour-black: #101010;
$colour-white: #fff;
$main-gradient: linear-gradient(0, #9356DC -11.44%, #FF79DA 123.93%);
$main-gradient-icon: linear-gradient(0, #FF79DA -11.44%, #9356DC 123.93%);

$font-Shrikhand : "Shrikhand", sans-serif !important;

$fast: 0.3s;


// Mixins
@mixin flex-row () {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-col () {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin border($colour: $colour-primary) {
  border: 0.1rem solid $colour;
}


