// Variables //

// Colors
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-grey: #F7F7F7;
$colour-black-med: #353535;
$colour-black: #101010;
$colour-white: #fff;
$main-gradient: linear-gradient(0, $colour-primary -11.44%, $colour-secondary 123.93%);

$font-Shrikhand : "Shrikhand", sans-serif !important;

$fast: 0.3s;


// Mixins
@mixin linear-gradient-icon() {
  background: -moz-linear-gradient(0, $colour-secondary -11.44%, $colour-primary 123.93%);
  background: -webkit-linear-gradient(0, $colour-secondary -11.44%, $colour-primary 123.93%);
  background: linear-gradient(0, $colour-secondary -11.44%, $colour-primary 123.93%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .1px $colour-black-med;
}
@mixin flex-row () {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-col () {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin grid-row () {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

@mixin border($colour: $colour-primary) {
  border: 0.1rem solid $colour;
}


