@import './main.scss';


.nav__home {
  width: 100%;
  .search__bar {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    .search__bar__icon {
      margin-right: 1rem;
    }
  }
}


.hero {
  .hero__headline {
    text-align: center;
    padding: 3rem 1rem;
    & p {
      padding: 2rem 0 2rem 0;
    }
  }

  .fn {
    padding: 1rem;
    text-align: center;
    background-color: $colour-white;
    .fn__content {
      .fn__title {
        width: 100%;
        padding: 0.5rem 0;
        text-align: left;
      }
      .fn__item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1.5rem 1rem;
        background-color: $colour-grey;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        .fn__item__step {
          padding: .3rem .6rem;
          position: absolute;
          left: -.8rem;
          border-radius: 50%;
          color: $colour-white;
          background-color: $colour-primary;
        }
        i {
          width: 10%;
          margin: .8rem 1rem;
        }
      }
    }
  }
}



.resto {
  padding: 2rem 1rem 5rem 1rem;
  .resto__content {
    .resto__content__title {
      padding: 1.5rem 0;
    }
    .resto__content__list {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .resto__article {
        position: relative;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        transition: $fast;
        &:hover {
          box-shadow: 0px 4px 15px rgba(0, 0, 0, .2);
          img {
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.05);
          }
        }
      }

      .resto__article a {
        color: #000000;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        max-height: 250px;
        overflow: hidden;
        background-color: $colour-white;
        border-radius: 15px;
        height: 350px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          left: 0px;
          bottom: 80px;
          transition: $fast;
        }
        .card {
          position: absolute;
          z-index: 5;
          bottom: 0;
          height: 80px;
          width: 100%;
          background-color: #fff;
          padding: 1rem 1rem;
          display: flex;
          align-items: center;
          &__text {
            flex: 1;
          }
        }
      }
      .like {
        position: absolute;
        bottom: 1.6rem;
        right: 2rem;
        z-index: 10;
      }
    }
  }
}









/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  .hero {
    h1 {
      font-size: 40px;
    }
    .fn {
      .fn__content {
        display: flex;
        max-width: 1100px;
        margin: auto;
        &__title {
          max-width: 1100px;
        }
        .fn__items {
          display: flex;
          flex-direction: row !important;
          flex-wrap: wrap;
          gap: 30px;
          .fn__item {
            margin: 0 0 2rem 0;
          }
          i {
            width: 20%;
            padding: 0 2rem;
          }
        }
      }
    }
  }
  .resto {
    .resto__content {
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      margin: auto;
      .resto__content__title {
        max-width: 1100px;
      }
      .resto__content__list {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between;
        .resto__article a {
          overflow: hidden;
          flex: 1;
          width: 470px !important;
        }
      }
    }
  }
}
