@import './components/_main';
@import './components/_badge-novelty';


.nav__home {
  width: 100%;
  .search__bar {
    @include flex-row();
    justify-content: center;
    min-height: 50px;
    background-color: #eaeaea;
    input { max-width: 130px;}
    .search__bar__icon {
      margin-right: 1rem;
    }
  }
}


.hero {
  .hero__headline {
    text-align: center;
    padding: 3rem 1rem;
    & p {
      padding: 2rem 0 2rem 0;
    }
  }

  .fn {
    padding: 1rem;
    text-align: center;
    background-color: $colour-white;
    .fn__content {
      .fn__title {
        width: 100%;
        padding: 0.5rem 0;
        text-align: left;
      }
      .fn__item {
        position: relative;
        @include flex-row();
        padding: 1rem .5rem;
        margin: 1.5rem .5rem;
        background-color: $colour-grey;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        cursor: pointer;
        transition: $fast;
        
        &:hover {
          background-color: $colour-primary-hover;
          .fn_icon {
            color: $colour-primary;
          }
        }

        .fn__item__step {
          padding: .3rem .6rem;
          position: absolute;
          left: -.8rem;
          border-radius: 50%;
          color: $colour-white;
          background-color: $colour-primary;
        }
        i {
          width: 10%;
          margin: .8rem .5rem;
        }
      }
    }
  }
}



.resto {
  padding: 2rem 1rem 5rem 1rem;

  .resto__content {
    .resto__content__title {
      padding: 1.5rem 0;
    }

    .resto__content__list {
      .resto__article {
        position: relative;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        transition: $fast;
        margin: 2rem 0;
        
        &:hover {
          box-shadow: 0px 4px 15px rgba(0, 0, 0, .2);
          
          img {
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.05);
          }
        }
      }

      .resto__article a {
        color: #000000;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        max-height: 250px;
        overflow: hidden;
        background-color: $colour-white;
        border-radius: 15px;
        height: 350px;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          left: 0px;
          bottom: 80px;
          transition: $fast;
        }

        .card {
          position: absolute;
          z-index: 5;
          bottom: 0;
          height: 80px;
          width: 100%;
          background-color: #fff;
          padding: 1rem 1rem;
          display: flex;
          align-items: center;

          &__text {
            flex: 1;
          }
        }
      }
      .like {
        position: absolute;
        bottom: 1.6rem;
        right: 2rem;
        z-index: 10;
      }
    }
  }
}









/****** Media queries ***********/
/* Medium devices (767px) */
@media (min-width: 767px) {
  .hero {
    h1 {
      font-size: 40px;
    }
    .fn {
      .fn__content {
        max-width: 1100px;
        margin: auto;
        
        &__title {
          max-width: 1100px;
        }
        .fn__items {
          @include grid-row();
          grid-template-columns: repeat(3, 1fr);
          margin: 0 0 2rem 0;

          i {
            padding: 0 2rem;
          }
        }
      }
    }
  }
  .resto {
    .resto__content {
      max-width: 1100px;
      margin: auto;
      .resto__content__title {
        max-width: 1100px;
      }
      .resto__content__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem;
        .resto__article {
          margin: 0;
        }
      }
    }
  }
}
