@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap');

@import './variables.scss';
@import './spinner.scss';
@import './header.scss';
@import './footer.scss';
@import './ohmyfood.scss';
@import './ohmyfood_menu.scss';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  background: $colour-grey;
  font-family: "Roboto", sans-serif;
  color: #000;
}


:where(h1, h2, h3) {
  font-style: normal;
  font-weight: 700;
}
h1 {
  font-size: 24px;
  line-height: 28px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-size: 20px;
}
h4 {
  color: $colour-white;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: .1rem;
  line-height: 26px;
}
p {
  color: #000;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
a {
  text-decoration: none;
  color: $colour-white;
}
ul {
  list-style: none;
}

input {
  color: $colour-black-med;
  background-color: #eaeaea;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
span {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
i {
  color: $colour-black-med;
  font-size: 1.5rem;
}


.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .3rem 1rem;
  font-size: 16px;
  font-weight: 900;
  color: #008766;
  border-radius: 3px;
  background-color: $colour-tertiaire;
}


.fa-dark {color: $colour-black-med;}
.fa-white {color: $colour-white;}
.fa-active {color: $colour-primary;}
.fa-test {
  color: none;
  -webkit-text-stroke: 1.5px $colour-black-med;
}


.like {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  i {
    &:hover {
      cursor: pointer;
      color: $colour-primary;
      // background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
      -webkit-text-stroke: .1px $colour-black-med;
    }
  }
}


.wrapper__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  .btn {
    letter-spacing: 1px;
    color: $colour-white;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: $main-gradient;
    transition: $fast;
    &:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
      filter: brightness(1.1);
    }
  }
}





.wrapper__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}





/****** @keyframes ***********/
@keyframes fadeOut {
  0% { opacity: 1;}
  100% { 
    opacity: 0; 
    visibility: hidden;
    display: none;
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}






/****** Media queries ***********/
/* Medium devices (1024px) */
// @media (min-width: 1024px) {
//   .wrapper__content {
//   }
// }