@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap');

@import './variables.scss';
@import './header.scss';
@import './footer.scss';
@import './ohmyfood.scss';
@import './ohmyfood_menu.scss';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  background: $colour-grey;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-style: normal;
  font-weight: 700;
}
h1 {
  font-size: 24px;
  line-height: 28px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-size: 20px;
}
h4 {
  color: $colour-white;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: .1rem;
  line-height: 26px;
}
p {
  color: #000;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
a {
  text-decoration: none;
  color: $colour-white;
}
ul {
  list-style: none;
}

input {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
span {
  font-weight: 700;
  font-size: 18px;
  color: $colour-black-med;
}
i {
  font-size: 1.5rem;
}

.fa-dark {
  color: $colour-black-med;
}
.fa-white {
  color: $colour-white;
}
.fa-test {
  color: none;
  -webkit-text-stroke: 1.5px $colour-black-med;
}
.fa-active {
  color: $colour-primary;
}

.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .3rem 1rem;
  font-size: 16px;
  font-weight: 900;
  color: #008766;
  border-radius: 3px;
  background-color: $colour-tertiaire;
}





.wrapper__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin: $layout-margin;
  // padding: $grid-gutter $grid-gutter 0 $grid-gutter;
}




/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  // .wrapper__content {
  // }
}