@import './components/_main';
@import './components/menu-card-item';

.nav__menu {
  display: block;
  height: 320px;
  img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 470px;
    left: 0px;
    top: 0px;
  }
}


.menu {
  width: 100%;
  background-color: #fff;

  .menu__content {
    @include flex-col();
    padding: 1rem 1rem;
    width: 100%;
    position: relative;
    background-color: $colour-grey;
    border-radius: 40px 40px 0 0;
    margin: 0 auto;

    .entrees, .plats, .desserts {
      animation: fadeIn 1s ease;
      animation-fill-mode: both;
    }
    .plats { animation-delay: .2s }
    .desserts { animation-delay: .4s }

    .menu__title {
      @include flex-row();
      position: relative;
      font-family: $font-Shrikhand;

      &:nth-child(1) {
        margin: 0 2rem 0 0;
        padding: 1rem 0;
      }
      &:nth-child(2) {
        padding: 1rem 0;
      }
    }

    .menu__cards__title {
      position: relative;
      margin: 1rem 0 1rem 0;
      padding: 1rem 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 19px;
      text-align: left;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: $colour-tertiaire;
      }
    }
  }
}








/****** Media queries ***********/
/* Medium devices (767px) */
@media (min-width: 767px) {
  .nav__menu {
    img {
      height: 450px;
    }
  }
  .menu__title {
    justify-content: center;
  }
  .menu__content {
    max-width: 900px;
    padding: 2rem 10rem !important;
    h1 {
      text-align: center;
      i {
      position: relative;
      left: 2rem;
      }
    } 
  }
}