
.nav__menu {
  display: block;
  height: 320px;
  img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 470px;
    left: 0px;
    top: 0px;
  }
}






.menu {
  width: 100%;
  background-color: #fff;

  .menu__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 100%;
    position: relative;
    background-color: $colour-grey;
    border-radius: 40px 40px 0 0;
    margin: 0 auto;


    .entrees, .plats, .desserts {
      animation: fadeIn 1s ease;
      animation-fill-mode: both;
    }
    .plats { animation-delay: .2s }
    .desserts { animation-delay: .4s }


    .menu__title {
      display: flex;
      font-family: "Shrikhand", sans-serif !important;

      &:nth-child(1) {
        margin: 0 2rem 0 0;
        padding: 1rem 0;
      }
      &:nth-child(2) {
        padding: 1rem 0;
      }
    }
    .menu__cards__title {
      position: relative;
      margin: 1rem 0 1rem 0;
      padding: 1rem 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 19px;
      text-align: left;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: $colour-tertiaire;
      }
    }

    .menu__card__item {
      display: flex;
      padding: 0 0 0 1rem;
      margin: 1rem 0;
      background-color: $colour-white;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      align-items: center;
      min-height: 80px;
      overflow: hidden;
      
      .menu__card__text {
        flex: 1;
        width: 200px;
        & h3, p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        & p {
          font-size: 17px;
        }
      }
      .menu__card__price {
        flex: 0;
        margin-top: 1.5rem;
      }
      .checked {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colour-tertiaire;
        height: 80px;
        margin-left: 1rem;
        transition: $fast;
        width: 0px;
        transform: translateX(100px);

        & i { color: #fff }
      }
      &:hover .checked {
        width: 70px;
        transform: translateX(0px);
      }
    }
  }

}








/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  .nav__menu {
    img {
      height: 450px;
    }
  }
  .menu__title {
    justify-content: center;
  }
  .menu__content {
    max-width: 900px;
    padding: 2rem 10rem !important;
    h1 {
      text-align: center;
      i {
      position: relative;
      left: 2rem;
      }
    } 
  }
}