
.badge__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .3rem 1rem;
  font-size: 16px;
  font-weight: 900;
  color: #008766;
  border-radius: 2px;
  background-color: $colour-tertiaire;
}
