footer {
  padding: 1rem;
  background-color: $colour-black;
  color: $colour-white !important;
  font-weight: 400;
  font-size: 16px;
  min-height: 150px;
  display: flex;
  align-items: end;

  .footer__title {
    padding: 1rem 0 2rem 0;
  }
  & li {
    margin: .5rem 0;
  }
  & i {
    margin-right: 1.5rem;
  }
}




/****** Media queries ***********/
/* Medium devices (767px) */
@media (min-width: 767px) {
  footer {
    justify-content: start;
      padding: 3rem 2rem 1rem 2rem;
      .footer__content {
        ul {
          display: flex;
          align-items: end;
          li {
            margin: 1rem .5rem;
            &:nth-child(3) {
              margin-left: 3rem;
            }
          }
        }
      }
    }
}


/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  footer {
    justify-content: end;
    .footer__content {
      display: flex;
      flex-direction: row-reverse;
      .footer__title {
        padding: 1rem 4rem 1rem 4rem;
      }
    }
  }
}

