.header {
  @include flex-col();
  align-items: center;
  &__logo {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background: $colour-white;
    img {
      padding: 1.8rem 0;
      max-width: 12rem;
    }
    .prev_btn {
      @include flex-col();
      & i {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}