.spinner {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  @include flex-col();
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
  animation: fadeOut 1s normal 1s forwards ease-in-out;

  & img {
    max-width: 300px;
    width: 100%;
  }

  .lds-ring {
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 2px solid $colour-black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $colour-black transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
}




/****** @keyframes ***********/ 
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% { opacity: 1;}
  100% { 
    opacity: 0; 
    visibility: hidden;
    display: none;
  }
}