@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap");
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
}
.header__logo img {
  padding: 1.8rem 0;
  max-width: 12rem;
}
.header__logo .prev_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo .prev_btn i {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  padding: 1rem;
  background-color: #101010;
  color: #fff !important;
  font-weight: 400;
  font-size: 16px;
  min-height: 150px;
  display: flex;
  align-items: end;
}
footer .footer__title {
  padding: 1rem 0 2rem 0;
}
footer li {
  margin: 0.5rem 0;
}
footer i {
  margin-right: 1.5rem;
}

/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  footer {
    justify-content: end;
    padding: 3rem 2rem 1rem 2rem;
  }
  footer .footer__content {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .footer__content .footer__title {
    padding: 1rem 5rem 1rem 5rem;
  }
  footer .footer__content ul {
    display: flex;
    align-items: end;
  }
  footer .footer__content ul li {
    margin: 1rem 0.5rem;
  }
  footer .footer__content ul li:nth-child(3) {
    margin-left: 3rem;
  }
}
.spinner {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  animation: fadeOut 1s normal 1s forwards ease-in-out;
}
.spinner img {
  max-width: 300px;
  width: 100%;
}
.spinner .lds-ring {
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 3px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.spinner .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
}
.like i:hover {
  cursor: pointer;
  background: -moz-linear-gradient(0, #FF79DA -11.44%, #9356DC 123.93%);
  background: -webkit-linear-gradient(0, #FF79DA -11.44%, #9356DC 123.93%);
  background: linear-gradient(0, #FF79DA -11.44%, #9356DC 123.93%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #353535;
}

.wrapper__btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.wrapper__btn .btn {
  letter-spacing: 1px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0, #9356DC -11.44%, #FF79DA 123.93%);
  transition: 0.3s;
}
.wrapper__btn .btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  filter: brightness(1.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #F7F7F7;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000;
}

:where(h1, h2, h3) {
  color: #101010;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.1rem;
  line-height: 26px;
}

p {
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

input {
  color: #353535;
  background-color: #eaeaea;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

span {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

i {
  color: #353535;
  font-size: 1.5rem;
}

.fa-white {
  color: #fff;
}

.fa-main {
  color: #9356DC;
}

.fa-none {
  -webkit-text-stroke: 1.5px #353535;
  -webkit-text-fill-color: transparent;
}

.wrapper__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/****** @keyframes ***********/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/****** Media queries ***********/
/* Medium devices (1024px) */
.badge__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  font-size: 16px;
  font-weight: 900;
  color: #008766;
  border-radius: 2px;
  background-color: #99E2D0;
}

.nav__home {
  width: 100%;
}
.nav__home .search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  background-color: #eaeaea;
}
.nav__home .search__bar input {
  max-width: 130px;
}
.nav__home .search__bar .search__bar__icon {
  margin-right: 1rem;
}

.hero .hero__headline {
  text-align: center;
  padding: 3rem 1rem;
}
.hero .hero__headline p {
  padding: 2rem 0 2rem 0;
}
.hero .fn {
  padding: 1rem;
  text-align: center;
  background-color: #fff;
}
.hero .fn .fn__content .fn__title {
  width: 100%;
  padding: 0.5rem 0;
  text-align: left;
}
.hero .fn .fn__content .fn__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
  margin: 1.5rem 0.5rem;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.hero .fn .fn__content .fn__item:hover {
  background-color: #99E2D0;
}
.hero .fn .fn__content .fn__item .fn__item__step {
  padding: 0.3rem 0.6rem;
  position: absolute;
  left: -0.8rem;
  border-radius: 50%;
  color: #fff;
  background-color: #9356DC;
}
.hero .fn .fn__content .fn__item i {
  width: 10%;
  margin: 0.8rem 1rem;
}

.resto {
  padding: 2rem 1rem 5rem 1rem;
}
.resto .resto__content .resto__content__title {
  padding: 1.5rem 0;
}
.resto .resto__content .resto__content__list .resto__article {
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 2rem 0;
}
.resto .resto__content .resto__content__list .resto__article:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.resto .resto__content .resto__content__list .resto__article:hover img {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}
.resto .resto__content .resto__content__list .resto__article a {
  color: #000000;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  height: 350px;
}
.resto .resto__content .resto__content__list .resto__article a img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0px;
  bottom: 80px;
  transition: 0.3s;
}
.resto .resto__content .resto__content__list .resto__article a .card {
  position: absolute;
  z-index: 5;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}
.resto .resto__content .resto__content__list .resto__article a .card__text {
  flex: 1;
}
.resto .resto__content .resto__content__list .like {
  position: absolute;
  bottom: 1.6rem;
  right: 2rem;
  z-index: 10;
}

/****** Media queries ***********/
/* Medium devices (767px) */
@media (min-width: 767px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero .fn .fn__content {
    max-width: 1100px;
    margin: auto;
  }
  .hero .fn .fn__content__title {
    max-width: 1100px;
  }
  .hero .fn .fn__content .fn__items {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 2rem 0;
  }
  .hero .fn .fn__content .fn__items i {
    width: 20%;
    padding: 0 2rem;
  }
  .resto .resto__content {
    max-width: 1100px;
    margin: auto;
  }
  .resto .resto__content .resto__content__title {
    max-width: 1100px;
  }
  .resto .resto__content .resto__content__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
  }
  .resto .resto__content .resto__content__list .resto__article {
    margin: 0;
  }
}

/*# sourceMappingURL=home.css.map */
