@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap");
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
}
.header__logo img {
  padding: 1.8rem 0;
  max-width: 12rem;
}
.header__logo .prev_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo .prev_btn i {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  padding: 1rem;
  background-color: #101010;
  color: #fff !important;
  font-weight: 400;
  font-size: 16px;
  min-height: 150px;
  display: flex;
  align-items: end;
}
footer .footer__title {
  padding: 1rem 0 2rem 0;
}
footer li {
  margin: 0.5rem 0;
}
footer i {
  margin-right: 1.5rem;
}

/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  footer {
    justify-content: end;
    padding: 3rem 2rem 1rem 2rem;
  }
  footer .footer__content {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .footer__content .footer__title {
    padding: 1rem 5rem 1rem 5rem;
  }
  footer .footer__content ul {
    display: flex;
    align-items: end;
  }
  footer .footer__content ul li {
    margin: 1rem 0.5rem;
  }
  footer .footer__content ul li:nth-child(3) {
    margin-left: 3rem;
  }
}
.spinner {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  animation: fadeOut 1s normal 1s forwards ease-in-out;
}
.spinner img {
  max-width: 300px;
  width: 100%;
}
.spinner .lds-ring {
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 3px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.spinner .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.badge__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  font-size: 16px;
  font-weight: 900;
  color: #008766;
  border-radius: 2px;
  background-color: #99E2D0;
}

.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
}
.like i:hover {
  cursor: pointer;
  background-image: linear-gradient(0, #FF79DA -11.44%, #9356DC 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #353535;
}

.wrapper__btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.wrapper__btn .btn {
  letter-spacing: 1px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0, #9356DC -11.44%, #FF79DA 123.93%);
  transition: 0.3s;
}
.wrapper__btn .btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  filter: brightness(1.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #F7F7F7;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000;
}

:where(h1, h2, h3) {
  color: #101010;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.1rem;
  line-height: 26px;
}

p {
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

input {
  color: #353535;
  background-color: #eaeaea;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

span {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

i {
  color: #353535;
  font-size: 1.5rem;
}

.fa-white {
  color: #fff;
}

.fa-main {
  color: #9356DC;
}

.fa-none {
  -webkit-text-stroke: 1.5px #353535;
  -webkit-text-fill-color: transparent;
}

.fa-grad-checked {
  background-image: linear-gradient(0, #FF79DA -11.44%, #9356DC 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/****** @keyframes ***********/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/****** Media queries ***********/
/* Medium devices (1024px) */
.menu__card__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 1rem;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  min-height: 80px;
  overflow: hidden;
  cursor: pointer;
}
.menu__card__item .menu__card__text {
  flex: 1;
  min-width: 50%;
}
.menu__card__item .menu__card__text h3, .menu__card__item .menu__card__text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card__item .menu__card__text p {
  font-size: 15px;
}
.menu__card__item .menu__card__price {
  flex: 0;
  margin-top: 1.5rem;
  padding: 0 0.3rem;
}
.menu__card__item .menu__card__checked {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  height: 80px;
  margin-left: 1rem;
  transition: 0.3s;
  width: 0px;
  transform: translateX(100px);
}
.menu__card__item .menu__card__checked i {
  color: #fff;
}
.menu__card__item:is(:hover, :active) .menu__card__checked {
  width: 70px;
  transform: translateX(0px);
}

.nav__menu {
  display: block;
  height: 320px;
}
.nav__menu img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 470px;
  left: 0px;
  top: 0px;
}

.menu {
  width: 100%;
  background-color: #fff;
}
.menu .menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
  width: 100%;
  position: relative;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  margin: 0 auto;
}
.menu .menu__content .entrees, .menu .menu__content .plats, .menu .menu__content .desserts {
  animation: fadeIn 1s ease;
  animation-fill-mode: both;
}
.menu .menu__content .plats {
  animation-delay: 0.2s;
}
.menu .menu__content .desserts {
  animation-delay: 0.4s;
}
.menu .menu__content .menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Shrikhand", sans-serif !important;
}
.menu .menu__content .menu__title:nth-child(1) {
  margin: 0 2rem 0 0;
  padding: 1rem 0;
}
.menu .menu__content .menu__title:nth-child(2) {
  padding: 1rem 0;
}
.menu .menu__content .menu__cards__title {
  position: relative;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
}
.menu .menu__content .menu__cards__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  .nav__menu img {
    height: 450px;
  }
  .menu__title {
    justify-content: center;
  }
  .menu__content {
    max-width: 900px;
    padding: 2rem 10rem !important;
  }
  .menu__content h1 {
    text-align: center;
  }
  .menu__content h1 i {
    position: relative;
    left: 2rem;
  }
}

/*# sourceMappingURL=menu.css.map */
