@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap");
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__logo {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
}
.header__logo img {
  padding: 1.8rem 0;
  max-width: 12rem;
}
.header__logo .prev_btn a {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
}

footer {
  padding: 2rem 2rem 1rem 2rem;
  background-color: #101010;
  color: #fff !important;
  font-weight: 400;
  font-size: 16px;
  min-height: 150px;
  display: flex;
  align-items: end;
}
footer .footer__title {
  padding: 1rem 0 2rem 0;
  display: flex;
  align-items: end;
}
footer i {
  margin-right: 1.5rem;
}

/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  footer {
    justify-content: end;
    padding: 3rem 2rem 1rem 2rem;
  }
  footer .footer__content {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .footer__content .footer__title {
    padding: 1rem 5rem 1rem 5rem;
  }
  footer .footer__content ul {
    display: flex;
    align-items: end;
  }
  footer .footer__content ul li {
    margin: 1rem 0.5rem;
  }
  footer .footer__content ul li:nth-child(3) {
    margin-left: 3rem;
  }
}
.nav__home {
  width: 100%;
  height: 50px;
  background-color: #F7F7F7;
}
.nav__home .search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
.nav__home .search__bar .search__bar__icon {
  margin-right: 1rem;
  color: #353535;
}
.nav__home input {
  background-color: #eaeaea;
  color: #353535;
  border: none;
  max-width: 150px;
  height: 60px;
  outline: none;
}

.hero .hero__headline {
  text-align: center;
  padding: 3rem 1rem;
}
.hero .hero__headline p {
  padding: 2rem 0 2rem 0;
}
.hero .fn {
  padding: 1rem;
  text-align: center;
  background-color: #fff;
}
.hero .fn .fn__content .fn__title {
  width: 100%;
  padding: 0.5rem 0;
  text-align: left;
}
.hero .fn .fn__content .fn__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  margin: 1rem;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.hero .fn .fn__content .fn__item .fn__item__step {
  position: absolute;
  left: -0.8rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  width: 25px;
  color: #fff;
  background-color: #9356DC;
}
.hero .fn .fn__content .fn__item i {
  width: 10%;
  margin: 0.8rem 1rem;
}

.resto {
  padding: 2rem 1rem 5rem 1rem;
}
.resto .resto__content .resto__content__title {
  padding: 1.5rem 0;
}
.resto .resto__content .resto__content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.resto .resto__content .resto__content__list .resto__article {
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.resto .resto__content .resto__content__list .resto__article a {
  color: #000000;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
}
.resto .resto__content .resto__content__list .resto__article a img {
  position: relative;
  width: 100%;
  object-fit: cover;
  left: 0px;
  bottom: 80px;
}
.resto .resto__content .resto__content__list .resto__article a .card {
  position: absolute;
  z-index: 5;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}
.resto .resto__content .resto__content__list .resto__article a .card__text {
  flex: 1;
}
.resto .resto__content .resto__content__list .like {
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
  z-index: 10;
}

/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero .fn .fn__content {
    display: flex;
    max-width: 1100px;
    margin: auto;
  }
  .hero .fn .fn__content__title {
    max-width: 1100px;
  }
  .hero .fn .fn__content .fn__items {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 30px;
  }
  .hero .fn .fn__content .fn__items .fn__item {
    margin: 0 0 2rem 0;
  }
  .hero .fn .fn__content .fn__items i {
    width: 20%;
    padding: 0 2rem;
  }
  .resto .resto__content {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
  }
  .resto .resto__content .resto__content__title {
    max-width: 1100px;
  }
  .resto .resto__content .resto__content__list {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .resto .resto__content .resto__content__list .resto__article a {
    overflow: hidden;
    flex: 1;
    width: 470px !important;
  }
}
.nav__menu {
  display: block;
  height: 320px;
}
.nav__menu img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 470px;
  left: 0px;
  top: 0px;
}

.menu {
  width: 100%;
  background-color: #fff;
}
.menu .menu__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  width: 100%;
  position: relative;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  margin: 0 auto;
}
.menu .menu__content .menu__title {
  display: flex;
  font-family: "Shrikhand", sans-serif !important;
}
.menu .menu__content .menu__title:nth-child(1) {
  margin: 0 2rem 0 0;
  padding: 1rem 0;
}
.menu .menu__content .menu__title:nth-child(2) {
  padding: 1rem 0;
}
.menu .menu__content .menu__cards__title {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
}
.menu .menu__content .menu__cards__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu .menu__content .menu__card__item {
  display: flex;
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
}
.menu .menu__content .menu__card__item .menu__card__text {
  flex: 1;
}
.menu .menu__content .menu__card__item .menu__card__price {
  flex: 0;
  margin-top: 1.5rem;
}

/****** Media queries ***********/
/* Medium devices (1024px) */
@media (min-width: 1024px) {
  .nav__menu img {
    height: 450px;
  }
  .menu__title {
    justify-content: center;
  }
  .menu__content {
    max-width: 900px;
    padding: 2rem 10rem !important;
  }
  .menu__content h1 {
    text-align: center;
  }
  .menu__content h1 i {
    position: relative;
    left: 2rem;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #F7F7F7;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.1rem;
  line-height: 26px;
}

p {
  color: #000;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

input {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

span {
  font-weight: 700;
  font-size: 18px;
  color: #353535;
}

i {
  font-size: 1.5rem;
}

.fa-dark {
  color: #353535;
}

.fa-white {
  color: #fff;
}

.fa-test {
  color: none;
  -webkit-text-stroke: 1.5px #353535;
}

.fa-active {
  color: #9356DC;
}

.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  font-size: 16px;
  font-weight: 900;
  color: #008766;
  border-radius: 3px;
  background-color: #99E2D0;
}

.like {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.like i:hover {
  cursor: pointer;
  color: #9356DC;
  -webkit-text-stroke: 0.1px #353535;
}

.wrapper__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.wrapper__btn .btn {
  font-weight: 500 !important;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0, #9356DC -11.44%, #FF79DA 123.93%);
}
.wrapper__btn .btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  filter: brightness(1.1);
  transition: 0.3s;
}

.wrapper__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/****** Media queries ***********/
/* Medium devices (1024px) */

/*# sourceMappingURL=style.css.map */
